<a href="https://colab.research.google.com/github/asadbek11211/Pandas_exercises/blob/main/PANDAS_EXSAMPLS_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## 3.2 Ma'lumotlarni tayyorlash

# **AMALIYOT**
## Ma'lumotlarga ishlov berish

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/mukhammad-irmatov/health_dataset/main/healt_info.csv")
df.head(3)

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,1,56,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,2,37,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,3,50,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D

Bu dataset sug'urta kompaniyasining real ma'lumotlardan tuzilgan. Bu datasetda 480000 qator sug'urta ma'lumotlar tashkil topgan.
Quyida datasetning ba'zi ustunlari haqida qisqacha ma'lumot

*   Sno = seriya raqami 
*   AGE = yoshi
*   SEX = jinsi (female = ayol, male = erkak)
*   CASTE_NAME = kasta nomi (Hindistonda har bir inson ma'lum bir kastaga oid bo'ladi)
*   CATEGORY_CODE = kategoriya kodi
*   CATEGORY_Name = kategoriya nomi
*   SURGERY_CODE = operatsiya kodi
*   Mandal_Name = mandal nomlanishi ya'ni familiyasi desak ham bo'ladi
*   Mortality Y/N = vafot etgan yoki vafot etmaganligi
*   MORTALITY_DATE = qachon vafot etganligi

### **1-mashq**. Datasetdagi barcha takrorlangan qatorlar sonini toping

In [ ]:
# Javobni shuyerga yozing

df.duplicated().sum()

0

#### **2-mashq**. Datasetdagi quyidagi ustunlar o'chirib yuborilsin:<br>
*   Sno
*   CATEGORY_CODE
*   SURGERY_CODE
*   MANDAL_NAME
*   DISTRICT_NAME
*   HOSP_DISTRICT
<BR>

In [ ]:
# Javobni shuyerga yozing
df.drop(columns=['Sno','CATEGORY_CODE','SURGERY_CODE','MANDAL_NAME','DISTRICT_NAME','HOSP_DISTRICT']).head()

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,Female,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D

#### **3-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni unique funksiyasi orqali tekshiring.

In [ ]:
# Javobni shuyerga yozing
df.SEX.unique()

array(['Female', 'Male', 'Male(Child)', 'Female(Child)', 'FEMALE'],
      dtype=object)

#### **4-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni **Erkak** va **Ayol** ga o'zgartiring:
O'zgartirish quyidagicha bo'lsin:


*   Male -> Erkak
*   Male(child) -> Erkak
*   Female - > Ayol
*   Female(child) - Ayol
*   MALE -> Erkak
*   FEMALE -> Ayol

In [ ]:
# Javobni shuyerga yozing
Sex = {
    'Male':'Erkak',
    'Male(child)':'Erkak',
    'Female(child)':'Ayol',
    'Female':'Ayol',
    'FEMALE':'Ayol'
}

df.SEX = df.SEX.map(Sex)

df.SEX

0          Ayol
1         Erkak
2         Erkak
3         Erkak
4         Erkak
          ...
335389    Erkak
335390     Ayol
335391     Ayol
335392    Erkak
335393     Ayol
Name: SEX, Length: 335394, dtype: object

#### **5-mashq**. Endi xuddi shu SEX columndagi ma'lumotlarni raqamlarga o'zgartiring: Erkaklarni 1 raqamiga, Ayollarni 0 raqamiga o'zgartiring.
*   Erkak -> 1
*   Ayol -> 0

In [ ]:
# Javobni shuyerga yozing
son = {
    'Erkak':1,
    'Ayol':0
}

df.SEX = df.SEX.map(son)
df.sample(10)

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
34,35,42,1.0,SC,S7,CARDIAC AND CARDIOTHORACIC SURGERY,S7.2.1.1,Coronary Bypass Surgery,Ward-14,Sattenapalli,...,17-02-2017 18:54,115846,Karumuri Hospital,C,Guntur,25-08-2014 00:00,02-09-2014 00:00,NO,NaN,CMO
140917,140918,35,0.0,OC,S12,MEDICAL ONCOLOGY,S12.1.4,Chemotherapy for Breast Cancer with Paclitaxel,Karvetinagar,Karvetinagar,...,04-04-2017 20:05,3751,Sri Venkateswara Institute Of Medical Sciences,G,Chittoor,26-12-2016 00:00,26-12-2016 00:00,NO,NaN,D
96213,96214,52,0.0,BC,S12,MEDICAL ONCOLOGY,S12.5.1,Chemotherapy for Ovarian cancer with Carboplat...,Thurumella,Rompicherla,...,11-01-2017 01:23,11000,Nri Academyof Sciences,C,Guntur,09-11-2016 00:00,14-11-2016 00:00,NO,NaN,D
24970,24971,19,1.0,BC,S1,GENERAL SURGERY,S1.3.2.2,Surgical treatment for Appendicular Perforation,Muppalagutti,Peddavadugur,...,30-12-2017 22:37,23170,Govt General Hospital Anantapur,G,Anantapur,26-07-2016 00:00,01-08-2016 00:00,NO,NaN,D
39089,39090,43,1.0,OC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Gontuvanipalem,Addteegala,...,06-01-2017 21:45,12500,"Government General Hospital,Kakinada",G,East Godavari,30-08-2016 00:00,01-10-2016 00:00,NO,NaN,D
285194,285195,0,NaN,BC,M4,PEDIATRICS,M4.2.1.1,Medical management of Severe Bronchiolitis(Non...,Rellivalasa,Pusapatirega,...,02-06-2017 21:05,15000,ANDHRA HOSPITALS,C,Vizianagaram,24-04-2017 00:00,28-04-2017 00:00,NO,NaN,D
54614,54615,68,0.0,SC,S7,CARDIAC AND CARDIOTHORACIC SURGERY,S7.1.1.3,Coronary Balloon Angioplasty with Drug eluting...,Sunnamvarichintala @ T.,Udayagiri,...,18-01-2017 16:12,65010,Krishna Institute of Medical Sciences Bollinen...,C,Nellore,22-09-2016 00:00,26-09-2016 00:00,NO,NaN,D
260868,260869,55,0.0,Minorities,S15,POLY TRAUMA,S15.1.1,Surgical Correction Of Longbone Fracture,Pasupula,Kurnool,...,10-05-2017 19:06,30000,SANJEEVANI HEALTH CARE,C,Kurnool,06-04-2017 00:00,10-04-2017 00:00,NO,NaN,D
85081,85082,43,0.0,SC,S13,RADIATION ONCOLOGY,S13.2.3,Adjuvant Treatment With Photons/Electrons / (9...,Throvagunta,Ongole,...,06-02-2017 20:06,45000,HCG Mnr Curie Cancer Centre Health Care Global...,C,Prakasam,31-10-2016 00:00,10-12-2016 00:00,NO,NaN,D
80576,80577,37,0.0,BC,S2,ENT SURGERY,S2.1.4,Myringoplasty,Kariganipalle,Kundurpi,...,10-01-2017 21:09,15080,CHANDRA SUPERSPECIALTY HOSPITAL,C,Anantapur,26-10-2016 00:00,30-10-2016 00:00,NO,NaN,D

#### **6-mashq**. Shu jarayonni HOSP_TYPE ustuni uchun ham amalga oshiring. 
*   G - General hospital (umumiy kasalxona) degani
*   C - Special hospital (maxsus kasalxona) degani
<br><b>O'zgarish quyidagicha bo'lsin:</b>
*   G -> Umumiy 
*   C -> Maxsus

In [ ]:
# Javobni shuyerga yozing

hospital = {'G':'Umumiy','C':'Maxsus'}

df.replace(hospital, inplace=True)
df

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,1,56,0.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,2,37,1.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,3,50,1.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,4,45,1.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Telikipenta,Sarubujjili,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,5,54,1.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Thandemvalasa,Srikakulam,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335389,335390,65,1.0,SC,S3,OPHTHALMOLOGY SURGERY,SU66,Vitrectomy Plus Silicon Oil Or Gas (14.75),Chintalapudi,Ponnur,...,04-08-2017 21:23,23320,Sankar Eye Hospital,Maxsus,Guntur,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335390,335391,54,0.0,OC,S12,MEDICAL ONCOLOGY,S12.1.4,Chemotherapy for Breast Cancer with Paclitaxel,Udayagiri @ Kondayapale,Udayagiri,...,02-08-2017 19:11,7140,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL an...,Maxsus,Hyderabad,06-06-2017 00:00,06-06-2017 00:00,NO,NaN,D
335391,335392,19,0.0,SC,S12,MEDICAL ONCOLOGY,S12.28.1,Palliative Chemotherapy for unlisted Regimen,Vinduru,Gudur,...,04-10-2017 19:46,5000,M.N.J.Hospitals,Umumiy,Hyderabad,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335392,335393,50,1.0,BC,S9,GENITO URINARY SURGERIES,S9.3.4,ursl,Duppituru,Atchutapuram,...,04-08-2017 20:59,25000,GAJUWAKA HOSPITALS PVT LTD RK HOSPITAL,Maxsus,Vishakhapatnam,06-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335393,335394,46,0.0,SC,S12,MEDICAL ONCOLOGY,S12.2.1,Chemotherapy for Cervical Cancer with Weekly C...,Ananthavaram,Mummidivaram,...,09-08-2017 19:43,2040,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,Maxsus,East Godavari,07-06-2017 00:00,07-06-2017 00:00,NO,NaN,MC

#### **7-mashq**. O'zgartirish amalga oshirilgach, HOSP_TYPE ustunida qancha Umumiy va qancha Maxsus kasalxonalar borligini ham aniqlang

In [ ]:
# Javobni shuyerga yozing

df.HOSP_TYPE.value_counts()

Maxsus    241139
Umumiy     94255
Name: HOSP_TYPE, dtype: int64

#### **8-mashq**. Datasetda qancha takrorlangan qatorlar borligini aniqlang

In [ ]:
# Javobni shuyerga yozing

sum(df.duplicated())

0

#### **9-mashq**. Datasetda barcha takrorlangan qatorlarni o'chirib yuboring

In [ ]:
# Javobni shuyerga yozing

df.drop_duplicates()

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,1,56,0.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,2,37,1.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,3,50,1.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,4,45,1.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Telikipenta,Sarubujjili,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,5,54,1.0,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Thandemvalasa,Srikakulam,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,Srikakulam,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335389,335390,65,1.0,SC,S3,OPHTHALMOLOGY SURGERY,SU66,Vitrectomy Plus Silicon Oil Or Gas (14.75),Chintalapudi,Ponnur,...,04-08-2017 21:23,23320,Sankar Eye Hospital,Maxsus,Guntur,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335390,335391,54,0.0,OC,S12,MEDICAL ONCOLOGY,S12.1.4,Chemotherapy for Breast Cancer with Paclitaxel,Udayagiri @ Kondayapale,Udayagiri,...,02-08-2017 19:11,7140,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL an...,Maxsus,Hyderabad,06-06-2017 00:00,06-06-2017 00:00,NO,NaN,D
335391,335392,19,0.0,SC,S12,MEDICAL ONCOLOGY,S12.28.1,Palliative Chemotherapy for unlisted Regimen,Vinduru,Gudur,...,04-10-2017 19:46,5000,M.N.J.Hospitals,Umumiy,Hyderabad,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335392,335393,50,1.0,BC,S9,GENITO URINARY SURGERIES,S9.3.4,ursl,Duppituru,Atchutapuram,...,04-08-2017 20:59,25000,GAJUWAKA HOSPITALS PVT LTD RK HOSPITAL,Maxsus,Vishakhapatnam,06-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335393,335394,46,0.0,SC,S12,MEDICAL ONCOLOGY,S12.2.1,Chemotherapy for Cervical Cancer with Weekly C...,Ananthavaram,Mummidivaram,...,09-08-2017 19:43,2040,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,Maxsus,East Godavari,07-06-2017 00:00,07-06-2017 00:00,NO,NaN,MC

#### **10-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning o'rtacha qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing

df.CLAIM_AMOUNT.mean()

28139.68821445822

#### **11-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning minimum qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing
df.CLAIM_AMOUNT.min()

2

#### **12-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), CLAIM_AMOUNTning maksimum qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing

df.CLAIM_AMOUNT.max()

520000

.agg() yordamida istalgan funksiyalarni chaqirishimiz mumkin, misol uchun numpy dagi mean (o'rta qiymat) funiksiyasini ham qo'shamiz. Natijalarni faqat price ustuni uchun chiqaramiz:

#### **13-mashq**. Datasetdan jinsiga ko'ra CLAIM_AMOUNTning min, max va o'rta qiymatlarni agg() usuli yordamida toping.

In [ ]:
# Javobni shuyerga yozing

df.groupby('SEX').CLAIM_AMOUNT.agg([min ,max, np.mean])

     min     max          mean
SEX
0.0    2  210000  25552.989745
1.0    2  205000  29634.162939