<a href="https://colab.research.google.com/github/asadbek11211/Pandas_exercises/blob/main/Read_html_amaliyot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Web brauzerdan malumotlarni jadval ko'rinishida olamiz.
# misol uchun (Mike Tyson)

---

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
mike = pd.read_html("https://en.wikipedia.org/wiki/Mike_Tyson")

mike nomli list o'zida bir qancha DataFrame larni oldi

In [ ]:
len(mike)

19

In [ ]:
mike[0].head()

      Mike Tyson                                       Mike Tyson.1 Unnamed: 2
0  Tyson in 2019                                      Tyson in 2019        NaN
1           Born  Michael Gerard Tyson (age 56)Brooklyn, New Yor...        NaN
2        Spouses  .mw-parser-output .plainlist ol,.mw-parser-out...        NaN
3       Children                                               7[a]        NaN
4  Boxing career                                      Boxing career        NaN

In [ ]:
mike[1].head()

,0,1,2
0,NaN,NaN,NaN
1,Men's amateur boxing,Men's amateur boxing,Men's amateur boxing
2,National Junior Olympics,National Junior Olympics,National Junior Olympics
3,NaN,1981 North Carolina,Heavyweight
4,NaN,1982 Tennessee,Heavyweight

In [ ]:
mike[2].head()

             58 fights  50 wins  6 losses
0          By knockout       44         5
1          By decision        5         0
2  By disqualification        1         1
3          No contests        2         2

In [ ]:
mike[3].head()

,No.,Result,Record,Opponent,Type,"Round, time",Date,Age,Location,Notes
0,58,Loss,50–6 (2),Kevin McBride,RTD,"6 (10), 3:00","Jun 11, 2005","38 years, 346 days","MCI Center, Washington, D.C., U.S.",NaN
1,57,Loss,50–5 (2),Danny Williams,KO,"4 (10), 2:51","Jul 30, 2004","38 years, 30 days","Freedom Hall, Louisville, Kentucky, U.S.",NaN
2,56,Win,50–4 (2),Clifford Etienne,KO,"1 (10), 0:49","Feb 22, 2003","36 years, 237 days","The Pyramid, Memphis, Tennessee, U.S.",NaN
3,55,Loss,49–4 (2),Lennox Lewis,KO,"8 (12), 2:25","Jun 8, 2002","35 years, 343 days","The Pyramid, Memphis, Tennessee, U.S.","For WBC, IBF, IBO, and The Ring heavyweight ti..."
4,54,Win,49–3 (2),Brian Nielsen,RTD,"6 (10), 3:00","Oct 13, 2001","35 years, 115 days","Parken Stadium, Copenhagen, Denmark",NaN

In [ ]:
mike[4].head()

     4 fights  0 wins  0 losses
0       Draws       1         1
1  Non-scored       3         3

In [ ]:
mike[5].head()

,No.,Result,Record,Opponent,Type,"Round, time",Date,Location,Notes
0,4,Draw,0–0–1 (3),Roy Jones Jr.,SD,8,"Nov 28, 2020","Staples Center, Los Angeles, California, U.S.",Scored by the WBC
1,3,—,0–0 (3),Corey Sanders,—,4,"Oct 20, 2006","Chevrolet Centre, Youngstown, Ohio, U.S.",Non-scored bout
2,2,—,0–0 (2),James Tillis,—,4,"Nov 12, 1987","DePaul University Alumni Hall, Chicago, Illino...",Non-scored bout
3,1,—,0–0 (1),Anthony Davis,—,1,"Jul 4, 1986","Liberty State Park, Jersey City, New Jersey, U.S.",Non-scored bout

In [ ]:
mike[6].head()

,No.,Date,Fight,Billing,Buys,Network
0,1.0,"June 27, 1988",Tyson vs. Spinks,Once and For All,"700,000[260]",King Vision
1,2.0,"March 18, 1991",Tyson vs. Ruddock,The Fight of the Year,"960,000[261]",King Vision
2,3.0,"June 28, 1991",Tyson vs. Ruddock II,The Rematch,"1,250,000[262]",King Vision
3,4.0,"August 19, 1995",Tyson vs. McNeeley,He's Back,"1,600,000[263]",Showtime/King Vision
4,5.0,"March 16, 1996",Tyson vs. Bruno II,The Championship Part I,"1,400,000[263]",Showtime/King Vision

In [ ]:
mike[7].head()

,Date,Fight,Network,Buys,Source(s)
0,"March 16, 1996",Frank Bruno vs. Mike Tyson II,Sky Box Office,600000,[269]
1,"June 28, 1997",Evander Holyfield vs. Mike Tyson II,Sky Box Office,550000,[270]
2,"January 29, 2000",Mike Tyson vs. Julius Francis,Sky Box Office,500000,[270]
3,"June 8, 2002",Lennox Lewis vs. Mike Tyson,Sky Box Office,750000,[271]
4,NaN,Total sales,NaN,2400000,NaN

In [ ]:
mike[8].head()

,Date,Fight,Buys,Revenue,Revenue (inflation)
0,"June 27, 1988",Mike Tyson vs. Michael Spinks,"800,000[272]","$32,000,000[272]","$73,320,000"
1,"June 28, 1997",Evander Holyfield vs. Mike Tyson II,"120,000[273]","$9,000,000[274]","$15,190,000"
2,NaN,Total sales,920000,"$41,000,000","$79,930,000"

In [ ]:
mike[9].head()

,Date,Event,Venue,Location,Buys,Ref
0,"March 29, 1998",WrestleMania XIV,FleetCenter,"Boston, Massachusetts, U.S.",730000,[275]

In [ ]:
mike[10]

,Date,Event,Venue,Location,Buys,Ref
0,"May 23, 2020",Double or Nothing,Daily's PlaceTIAA Bank Field,"Jacksonville, Florida","115,000–120,000",[276][277]

In [ ]:
mike[11].head()

,Sporting positions,Sporting positions.1,Sporting positions.2,Unnamed: 3,Unnamed: 4
0,Amateur boxing titles,Amateur boxing titles,Amateur boxing titles,Amateur boxing titles,Amateur boxing titles
1,Previous:Olian Alexander,U.S. Golden Glovesheavyweight champion 1984,Next:Jerry Goff,NaN,NaN
2,World boxing titles,World boxing titles,World boxing titles,World boxing titles,World boxing titles
3,Preceded byTrevor Berbick,"WBC heavyweight champion November 22, 1986 – F...",Succeeded byBuster Douglas,NaN,NaN
4,Preceded byJames Smith,"WBA heavyweight champion March 7, 1987 – Febru...",Succeeded byBuster Douglas,NaN,NaN

In [ ]:
mike[12].head()

,".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteMike Tyson",".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteMike Tyson.1"
0,Fights,Tyson vs. Green Tyson vs. Frazier Berbick vs. ...
1,Films,Tyson (1995) Tyson (2008)
2,Television,Fallen Champ: The Untold Story of Mike Tyson T...
3,Other,"In popular culture Peek-a-boo Balrog ""I Think ..."
4,TeamTyson,initial (D'Amato stable)mentor: Cus D'Amato; c...

In [ ]:
mike[13].head()

,0,1
0,initial (D'Amato stable),mentor: Cus D'Amato; co-managers: Jimmy Jacobs...
1,mid-career (King's stable),manager: Don King; trainer: Richie Giachetti; ...

In [ ]:
mike[15].head()

,vteBBC Sports Personality World Sport Star of the Year,vteBBC Sports Personality World Sport Star of the Year.1
0,1960: Herb Elliott 1961: Valeriy Brumel 1962: ...,1960: Herb Elliott 1961: Valeriy Brumel 1962: ...

In [ ]:
mike[16].head()

,vteSugar Ray Robinson Award,vteSugar Ray Robinson Award.1
0,1938: Dempsey 1939: Conn 1940: Armstrong 1941:...,1938: Dempsey 1939: Conn 1940: Armstrong 1941:...

In [ ]:
mike[17].head()

,vteWWE Hall of Fame - Celebrity Wing,vteWWE Hall of Fame - Celebrity Wing.1
0,2004: Pete Rose 2006: William Perry 2010: Bob ...,2004: Pete Rose 2006: William Perry 2010: Bob ...

In [ ]:
mike[18].head()

    Authority control                                Authority control.1
0             General                             ISNI 1 VIAF 1 WorldCat
1  National libraries  Norway Spain France (data) Catalonia Germany I...
2               Other  FAST MusicBrainz artist National Archives (US)...