<a href="https://colab.research.google.com/github/asadbek11211/Pandas_exsamples/blob/main/SQL_and_f_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *SQL ga f string yordamida murojat qilish*

In [2]:
import pandas as pd
import sqlite3 as sql

In [4]:
db = sql.connect("mydb.db")
cursor = db.cursor()

In [6]:
df = pd.read_csv("sample_data/california_housing_train.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [9]:
query = """
  CREATE TABLE California_hose(
    house_age INT,
    house_room INT,
    house_badrooms INT,
    house_pop INT
  );
"""
cursor.execute(query)
db.commit()

In [10]:
query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
cursor.fetchall()

[('California_hose',)]

In [11]:
pd.read_sql(query, db)

              name
0  California_hose

db ning bosh jadvaliga ma'lumot qo'shamiz

In [13]:
query = "INSERT INTO California_hose VALUES (15, 56, 32, 1111)"
cursor.execute(query)
db.commit()

California_house jadvalini tekshirib ko'ramiz

In [15]:
pd.read_sql("SELECT * FROM California_hose", db)

   house_age  house_room  house_badrooms  house_pop
0         15          56              32       1111

Endi df dan birorta ma'lumotni db ga o'tkazamiz f string yordamida

In [16]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [18]:
df.iloc[1121]

longitude               -117.1200
latitude                  33.0700
housing_median_age        45.0000
total_rooms             1032.0000
total_bedrooms           235.0000
population               363.0000
households               177.0000
median_income              3.6389
median_house_value    186600.0000
Name: 1121, dtype: float64

In [19]:
df.iloc[[1121]]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1121,-117.12,33.07,45.0,1032.0,235.0,363.0,177.0,3.6389,186600.0

In [40]:
df1 = df[df.total_bedrooms == 2]
df1[['housing_median_age','total_rooms','total_bedrooms','population']]

      housing_median_age  total_rooms  total_bedrooms  population
2990                 4.0          2.0             2.0         6.0

df ning ixtiyoriy indeksdagi ma'lumotlarni db ga **saqlaymiz**

In [43]:
ind = df1.index.values[0]
age = df.at[ind,'housing_median_age']
rooms = df.at[ind,'total_rooms']
bedrooms = df.at[ind,'total_bedrooms']
population = df.at[ind,'population']

query = f"""
  INSERT INTO California_hose VALUES ({age}, {rooms}, {bedrooms}, {population})
"""
cursor.execute(query)
db.commit()

In [46]:
pd.read_sql("SELECT * FROM California_hose",db)

   house_age  house_room  house_badrooms  house_pop
0         15          56              32       1111
1          4           2               2          6

In [47]:
db.close()